@using MudBlazor
@using HardHatC2Client.Services
@using HardHatC2Client.Models
@using HardHatC2Client.Utilities
@using HardHatC2Client.Pages
@using System.Text

@if(Settings._InteractInputMode == Interact.InteractInputMode.Inline )
{
<MudGrid>
    <MudItem xs="12" sm="12" md="12" lg="12">
        <MudAutocomplete style="background:#111111; color:white;" Strict="true" T="string" ResetValueOnEmptyText="true" SearchFunc="@SearchCommand" ValueChanged="(e) => OnCommandSelected(e)"
                         Dense="true" Margin="Margin.Dense" SelectValueOnTab="true" SelectOnClick="false" CoerceText="false" CoerceValue="true"
                         InputMode="InputMode.text" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentText="[COMMAND]> " Immediate="true" Clearable="true" KeyDownPreventDefault="true" KeyUpPreventDefault="true" TextUpdateSuppression="@TextSuppersion">
        </MudAutocomplete>
    </MudItem>
    @if (SelectedCommandItem != null)
    {
        foreach (var key in SelectedCommandItem.Keys)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <div class="m-2">
                    <label>@key.Name</label>
                    <CommandKeyInput CommandKey="@key" Value="@keyValue[key.Name]" ValueChanged="@(value => UpdateKeyValue(key.Name, value))" />
                </div>
            </MudItem>
        }
    }
    </MudGrid>
}
else if(Settings._InteractInputMode == Interact.InteractInputMode.Modal_Window)
{
    <MudGrid>
        <MudItem xs="12" sm="12" md="12" lg="12">
            <MudAutocomplete MaxItems="@((Interact.AutocompleteSearchShowAllItems) ? (int?)null : 10)" Strict="true" T="string" ResetValueOnEmptyText="true" SearchFunc="@SearchCommand" ValueChanged="(e) => OnCommandSelected(e)"
                             Dense="true" Margin="Margin.Dense" SelectValueOnTab="true" SelectOnClick="false" CoerceText="false" CoerceValue="true"
                             InputMode="InputMode.text" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentText="[COMMAND]> " Immediate="true" Clearable="true" KeyDownPreventDefault="true" KeyUpPreventDefault="true" TextUpdateSuppression="@TextSuppersion">
            </MudAutocomplete>
        </MudItem>
    </MudGrid>
}


@code {

    [Inject]
    private IDialogService DialogService { get; set; }
    public string SelectedCommand { get; set; }
    public CommandItem SelectedCommandItem { get; set; }
    public Dictionary<string, string> keyValue = new Dictionary<string, string>();
    public static bool TextSuppersion = true;

    [Parameter] public List<CommandItem> Commands { get; set; }
    [Parameter] public EventCallback<string> OnContentChanged { get; set; }
    //private CommandKeyInputContent commandKeyInputContent;
    [Parameter] public EventCallback OnEnterKeyDown { get; set; }

    private void UpdateContent()
    {
        var commandString = new StringBuilder(SelectedCommand);
        foreach (var keyValuePair in keyValue)
        {
            commandString.Append($" {keyValuePair.Key} {keyValuePair.Value}");
        }
        OnContentChanged.InvokeAsync(commandString.ToString());
    }


    public static async Task<IEnumerable<string>> SearchCommand(string searchText)
    {
        if(Settings._InteractInputMode == Interact.InteractInputMode.Classic || Settings._InteractInputMode == Interact.InteractInputMode.NoAutoComplete)
        {
            if (Interact.AutocompleteSearchShowAllItems)
            {
                //if input is blank or null give the whole list.
                if (string.IsNullOrEmpty(searchText))
                {
                    var list = Help.menuItems.Select(x => x.Usage);
                    //alpabatize the list by the Name before returning it
                    return list.OrderBy(x => x);
                }
                //return the name of the Help.MenuItem that matches the search term
                var resultItem = await Task.FromResult(Help.menuItems.Where(x => x.Name.ToLower().Contains(searchText.ToLower())).ToList());
                //alphabetize and return the list
                var nameList = resultItem.Select(x => x.Usage);
                return nameList.OrderBy(x => x);
            }
            else
            {
                if (!string.IsNullOrEmpty(searchText))
                {
                    //return the name of the CommandValidation CommandList item that starts with the same input
                    var resultItem = await Task.FromResult(Help.menuItems.Where(x => x.Name.ToLower().StartsWith(searchText.ToLower())).ToList());
                    //alphabetize and return the list
                    var nameList = resultItem.Select(x => x.Usage);
                    return nameList.OrderBy(x => x);
                }
                else
                {
                    return new List<string>();
                }
            }
        }

        if (Interact.AutocompleteSearchShowAllItems)
        {
            //if input is blank or null give the whole list. 
            if (string.IsNullOrEmpty(searchText))
            {
                var list = CommandValidation.CommandList.Select(x => x.Name);
                //alpabatize the list by the Name before returning it 
                return list.OrderBy(x => x);
            }
            //return the name of the CommandValidation that matches the search term
            var resultItem = await Task.FromResult(CommandValidation.CommandList.Where(x => x.Name.ToLower().Contains(searchText.ToLower())).ToList());
            //alphabetize and return the list
            var nameList = resultItem.Select(x => x.Name);
            return nameList.OrderBy(x => x);
        }
        else
        {
            if (!string.IsNullOrEmpty(searchText))
            {
                //return the name of the CommandValidation CommandList item that starts with the same input 
                var resultItem =  await Task.FromResult(CommandValidation.CommandList.Where(x => x.Name.ToLower().StartsWith(searchText.ToLower())).Select(x => x.Name));
                return resultItem.OrderBy(x => x);
            }
            else
            {
                return new List<string>();
            }
        }
    }

    private async Task OnCommandSelected(string command)
    {
        SelectedCommand = command;
        SelectedCommandItem = CommandValidation.CommandList.FirstOrDefault(x => x.Name.Equals(command,StringComparison.CurrentCultureIgnoreCase));
        InitializeKeyValue();

        if (SelectedCommandItem != null && Settings._InteractInputMode == Interact.InteractInputMode.Modal_Window)
        {
            var dialogParameters = new DialogParameters
            {
                ["SelectedCommandItem"] = SelectedCommandItem,
                ["keyValue"] = keyValue,
                ["UpdateKeyValue"] = (Func<string, string, Task>)((string keyName, string value) => UpdateKeyValue(keyName, value)),
            };

            var dialogOptions = new DialogOptions { CloseButton = false, DisableBackdropClick = true };
            var dialog = DialogService.Show<CommandInputDialog>("Command Input", dialogParameters, dialogOptions);
            var result = await dialog.Result;

            if (result.Cancelled)
            {
                // recall initKeyValue to reset 
                InitializeKeyValue();
                dialog.Close();
            }
            else
            {
                // Handle the case when the dialog is submitted
                Interact._onWindowInteractSubmission();
                dialog.Close();
            }
        }
    }

    private void InitializeKeyValue()
    {
        keyValue.Clear();
        if (SelectedCommandItem != null)
        {
            if (SelectedCommandItem.Keys != null)
            {
                foreach (var key in SelectedCommandItem.Keys)
                {
                    keyValue[key.Name] = "";
                }
            }
        }
    }

    private async Task UpdateKeyValue(string keyName, string value)
    {
        keyValue[keyName] = value;
        UpdateContent();
    }
}